html, body {
  padding: 0;
  margin: 0;
}

body
  font-size: 16px;

nav
  background: #f8f8f8;

nav .mainlogo
  padding 15px 15px

nav .mainmenu
  margin-top 128px

.intro-section
  padding-top 50px

.intro-section .main-slider .image img
  width 100%

.intro-section .suscription
  border 1px solid black
  overflow hidden
  padding 15px

.intro-section .suscription form
  overflow hidden

.intro-section .suscription form .half-form
  float left
  width 49%

.intro-section .suscription form .half-form textarea
  width 100%
  height 147px

.intro-section .suscription form .half-form input[type="text"],
.intro-section .suscription form .half-form input[type="email"]
  padding 8px 0

.intro-section .suscription button
  margin-top 15px

.margin-both9
  margin-top 9px
  margin-bottom 9px

.cursos-section
  padding-top 50px

.cursos-section h2
  margin-bottom 30px

.cursos-section .departamentos
  border 2px solid black

.cursos-section .departamentos h1
  padding 0 15px

.cursos-section .departamentos article
  margin-bottom 70px

.cursos-section .departamentos article img
  width 100%

.cursos-section .departamentos article .article-info
  border 2px solid black

.cursos-section .dpto-arteydis
  margin-top 50px

.cursos-section button
  margin-top 15px

.services-section
  padding-top 50px
  padding-bottom 50px

.services-section .informacion article
  border 2px solid black
  margin-top 15px

.services-section .ubicacion p
  margin 32px 0

.services-section .ubicacion .mapa
  height 255px
  margin-top 15px